<app-navbar></app-navbar>
<section id="about" class="py-4">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-12">
        <h3 class="title">About Us</h3>
        <h2 class="description">Ducimus rerum libero reprehenderit cumque</h2>
        <p class="para">
          Ipsa sint sit. Quis ducimus tempore dolores impedit et dolor cumque
          alias maxime. Enim reiciendis minus et rerum hic non. Dicta quas cum
          quia maiores iure. Quidem nulla qui assumenda incidunt voluptatem
          tempora deleniti soluta.
        </p>
        <button class="btn btn-danger" id="read">
          <span class="spnBtn">Read More</span>
          <i class="fa-solid fa-arrow-right"></i>
        </button>
      </div>
      <div class="col-lg-3 col-12">
        <div class="card mt-4">
          <i class="fa-solid fa-city"></i>
          <h3>Eius provident</h3>
          <p>
            Magni repellendus vel ullam hic officia accusantium ipsa dolor omnis
            dolor voluptatem
          </p>
        </div>
        <div class="card">
          <i class="fa-solid fa-code-compare"></i>
          <h3>Veniam omnis</h3>
          <p>
            Omnis perferendis molestias culpa sed. Recusandae quas possimus.
            Quod consequatur corrupti
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-12">
        <div class="card">
          <i class="fa-solid fa-clipboard-check"></i>
          <h3>Rerum aperiam</h3>
          <p>
            Autem saepe animi et aut aspernatur culpa facere. Rerum saepe rerum
            voluptates quia
          </p>
        </div>
        <div class="card">
          <i class="fa-solid fa-chart-line"></i>
          <h3>Delares sapiente</h3>
          <p>
            Sint et dolor voluptas minus possimus nostrum. Reiciendis commodi
            eligendi omnis quideme lorenda
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
