<div class="container my-5">
  <div class="card" style="width: 18rem">
    <img src="{{ obj.blogImg }}" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{ obj.category }}</h5>
      <p class="card-text">
        {{ obj.description }}
      </p>
      <img src="{{ obj.userImg }}" alt="" class="img-fluid" />
      <p class="card-text">
        {{ obj.username }}
      </p>
      <p class="card-text">
        {{ obj.date | date }}
      </p>
    </div>
  </div>
</div>
