<app-navbar></app-navbar>
<section id="hero" class="d-flex justify-content-center align-items-center">
  <div class="content container position-relative">
    <div class="text">
      <h1>Welcome to Our Website</h1>
      <p>We are team of talented designers making websites with Bootstrap</p>
    </div>
    <div class="input-group">
      <div class="input col-md-5 position-relative">
        <input
          type="text"
          placeholder="Enter Your Email Address"
          class="form-control"
        />
      </div>
      <button class="btn btn-danger">Sign Up</button>
    </div>
  </div>
</section>
<app-footer></app-footer>
