#footer {
  background-color: #f4f4f4;
  padding: 20px 0;
}
#footer h1 {
  font-size: 30px;
}
#footer h2 {
  color: #32353a;
  font-size: 16px;
}
#footer p {
  font-size: 14px;
}

#footer .social {
  display: flex;
}
#footer i {
  margin-right: 10px;
  color: rgba(33, 37, 41, 0.5);
  border: 1px solid rgba(33, 37, 41, 0.5);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#footer i:hover {
  color: #dc3545;
  border-color: #dc3545;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
#footer a {
  display: block;
  text-decoration: none;
  color: rgba(33, 37, 41, 0.7);
}
#footer a:hover {
  color: #dc3545;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
