<section id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-6 col-12 mb-3">
        <h1>Append</h1>
        <p>
          Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada
          terra videa magna derita valies darta donna mare fermentum iaculis eu
          non diam phasellus.
        </p>
        <div class="social">
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-linkedin"></i>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-12 mb-3">
        <h2>Useful Links</h2>
        <a href="#">Home</a>
        <a href="#">About us</a>
        <a href="#">Services</a>
        <a href="#">Terms of service</a>
        <a href="#">Privacy policy</a>
      </div>
      <div class="col-lg-2 col-md-6 col-12 mb-3">
        <h2>Our Services</h2>
        <a href="#">Web Design</a>
        <a href="#">Web Development</a>
        <a href="#">Product Management</a>
        <a href="#">Marketing</a>
        <a href="#">Graphic Design</a>
      </div>
      <div class="col-lg-3 col-md-6 col-12 mb-3">
        <h2>Contact US</h2>
        <address>
          A108 Adam Street <br />
          New York, NY 535022 <br />
          United States
        </address>
      </div>
    </div>
  </div>
</section>
